.app {
    font-family: sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.titulo {
    font-size: 22px;
    color: aliceblue;
    margin-bottom: 10px;
    background-color: rgb(165, 158, 147);
    border-radius: 5px;
    border-style: groove;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.container-lista {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(255, 246, 234);
    border-radius: 5px;
    border-style: groove;
    justify-content: flex-start;
    align-items: flex-start;
}


.item-marcado,
.item-nao-marcado {
    margin-left: 10px;
}

.item-marcado {
    text-decoration: line-through;
}